{
    "DATABASE_URL": "sqlite://example.db",
    "DISCORD_LOGIN_API_TOKEN": "",
    "ROLE_NAME": "Member",
    "CLIENT_ID": "",
    "GUILD_ID": "",
    "WELCOME_CHANNEL_ID": "",
    "MEMBER_JOIN_MESSAGE": "Email address cannot be found, join via , otherwise ask for help in #welcome",
    "EMAIL_SUBJECT": "Discord Verification",
    "FROM_EMAIL": "",
    "EMAIL_REGEX": ".*@.*",
    "EMAIL_HOST": "",
    "EMAIL_PWD": ""
}
